---
import type { Service } from "@/types";
import Tag from "./tag.astro";
interface Props {
  service: Service;
}

const { service } = Astro.props;

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_URL || "http://localhost:1337";
const isImageRight = service.imagePosition === "right";

const borderRadiusClass = isImageRight
  ? "lg:rounded-l-3xl lg:rounded-r-none"
  : "lg:rounded-r-3xl lg:rounded-l-none";
---

<div
  class={`flex flex-col lg:flex-row items-center justify-center ${isImageRight ? "" : "lg:flex-row-reverse"}`}
>
  <div class="w-full lg:w-1/2 space-y-8">
    <div
      class={`bg-[#F3F5FB] rounded-t-3xl lg:rounded-t-none p-8 md:px-14 md:py-14 duration-300 ${borderRadiusClass}`}
    >
      <a href={`/servicios/${service.slug}`} class="block group">
        <h3 class="text-2xl md:text-[32px] font-bold dark-gray mb-6">
          {service.title}
        </h3>
      </a>

      {/* Tags */}
      <div class="flex flex-wrap gap-3">
        <Tag tags={service.tags || []} />
      </div>
    </div>
  </div>

  <div class="w-full lg:w-[45%]">
    <a
      href={`/servicios/${service.slug}`}
      class="block overflow-hidden rounded-3xl shadow-lg h-[90%]"
    >
      <img
        src={service.coverImage?.url
          ? `${STRAPI_URL}${service.coverImage.url}`
          : "/placeholder.jpg"}
        alt={service.title}
        class="w-full h-full object-cover aspect-video lg:aspect-auto transform hover:scale-105 transition-transform duration-500"
      />
    </a>
  </div>
</div>
