---
import { ChevronDown } from "lucide-react";
import Badge from "../shared/badge.astro";
import type { FeatureCard } from "@/types";

interface Props {
  title: string;
  features: FeatureCard[];
  badge?: string;
  variant?: "default" | "about";
}

const { title, features, badge, variant = "default" } = Astro.props;

const styles = {
  default: {
    title: "text-[#484848]",
    description: "text-[#484848]",
  },
  about: {
    title: "dark-blue",
    description: "secondary-blue",
  },
};

const currentStyle = styles[variant] || styles.default;
---

<section class={`py-16 md:pt-24`}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-20 text-center">
    <div class="flex flex-col items-center space-y-4 mb-16">
      <Badge title={badge} />
      <h3
        class={`text-3xl md:text-[40px] font-bold max-w-3xl mx-auto leading-tight mt-5`}
      >
        {title}
      </h3>

      <div class="mt-4 secondary-blue animate-bounce">
        <ChevronDown className="size-8 stroke-3" />
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-6">
      {
        features.map((feature) => (
          <div
            class={`
          bg-[#F5F7FC] rounded-3xl p-8 md:p-10 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col items-center text-center
          w-full                       
          md:w-[calc(50%-12px)]        
          lg:w-[calc(33.33%-16px)]     
        `}
          >
            <h4
              class={`${currentStyle.title} text-3xl font-bold primary-gray mb-4`}
            >
              {feature.title}
            </h4>
            <p
              class={
                currentStyle.description +
                " text-lg font-normal leading-relaxed"
              }
            >
              {feature.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
