---
import { getImageUrl } from "@/lib/globalData";
import Badge from "../shared/badge.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

// src/components/blocks/Hero.astro

interface Image {
  data: {
    attributes: {
      url: string;
      alternativeText?: string;
    };
  };
}

interface Props {
  titleImage: Image["data"]["attributes"];
  subtitle?: string;
  backgroundImage?: {
    url: string;
  };
  buttonText?: string;
  buttonUrl?: string;
  badge?: string;
}

const { titleImage, subtitle, backgroundImage, buttonText, badge, buttonUrl } =
  Astro.props;
const lang = Astro.params.lang || "es-AR";

const altText = titleImage?.alternativeText || "Frase principal";
const langStatic = getLangFromUrl(Astro.url);
const t = useTranslations(langStatic);
const contactHref = buttonUrl
  ? `/${lang}${buttonUrl.startsWith("/") ? buttonUrl : "/" + buttonUrl}`
  : "#";
---

<section
  class="bg-dark-blue relative min-h-196 md:min-h-184 flex items-center justify-center text-center text-white h-[80%] md:h-[90%] overflow-hidden"
>
  {
    backgroundImage && (
      <div class="absolute -right-30 top-20 h-[120%] md:w-[60%] pointer-events-none z-0">
        <img
          loading="lazy"
          src={getImageUrl(backgroundImage.url)}
          alt={altText}
          class="w-full h-full object-cover object-right opacity-10"
        />
      </div>
    )
  }
  <div
    class="relative px-4 sm:px-6 lg:px-8 lg:mt-14 flex flex-col items-center justify-center gap-11 md:gap-15"
  >
    {
      badge && (
        <Badge
          title={badge}
          class="text-white border border-white bg-white/20 rounded-md px-2 py-1 text-sm md:text-md w-2/3 md:w-1/2"
        />
      )
    }

    <div class="max-w-5xl">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold">
        {t("hero.title")}
      </h1>
    </div>

    <div>
      {
        buttonText && buttonUrl && (
          <a
            href={contactHref}
            class="relative overflow-hidden primary-blue font-bold bg-white rounded-lg px-5 py-3 text-md lg:text-xl cursor-pointer group"
          >
            <span class="absolute inset-0 bg-[#1C39BB] transform scale-x-0 origin-left transition-transform rounded-lg duration-300 ease-in-out group-hover:scale-x-100" />

            <span class="relative z-10 transition-colors duration-300 ease-in-out group-hover:text-white">
              {buttonText}
            </span>
          </a>
        )
      }
      {
        subtitle && (
          <p class="text-sm md:text-base font-light max-w-2xl mt-5">
            {subtitle}
          </p>
        )
      }
    </div>
  </div>
</section>
