---
import Layout from "@/layouts/Layout.astro";
import { getProjects } from "@/lib/projectData";
import type { NewsletterBlock, Project } from "@/types";
import HeroPages from "@/components/common/HeroPages.astro";
import { useTranslations } from "@/i18n/utils";
import bgPhases from "@/assets/bgPhases.webp";
import PhasesSection from "@/components/projects/phasesSection.astro";
import Advice from "@/components/common/Advice.astro";
import Newsletter from "@/components/common/Newsletter.astro";
import { getHomePageData } from "@/lib/homeData";
import { getImageUrl } from "@/lib/globalData";
export async function getStaticPaths() {
  const languages = ["es-AR", "en"];
  const paths = await Promise.all(
    languages.map(async (lang) => {
      const projects = await getProjects(lang);

      return projects.map((project: Project) => ({
        params: { lang, slug: project.slug },
        props: { project },
      }));
    })
  );

  return paths.flat();
}
const STRAPI_URL = import.meta.env.STRAPI_URL || "http://localhost:1337";
interface Props {
  project: Project;
}
const { project } = Astro.props;
const { lang } = Astro.params;
const { blocks } = await getHomePageData(lang);
const t = useTranslations(lang as any);
const imageData = Array.isArray(project.imageDescription)
  ? project.imageDescription[0]
  : project.imageDescription;

const imageUrl = imageData?.url
  ? getImageUrl(imageData.url)
  : "/placeholder.jpg";
const newsletterData = blocks?.find(
  (b) => b.__component === "blocks.newsletter"
) as NewsletterBlock | undefined;
---

<Layout title={`${project.title}`}>
  <main class="bg-white">
    <HeroPages title={project.title} description={project.introduction} />

    <section class="pt-28 max-w-full mx-auto">
      <div class="mx-auto px-4 max-w-6xl flex flex-col lg:flex-row">
        <div
          set:html={project.description}
          class="text-xl primary-gray font-normal lg:mr-40"
        />
        <div>
          <img
            src={imageUrl}
            alt={project.imageDescription?.alternativeText}
            class="lg:scale-170 object-cover rounded-3xl"
          />
        </div>
      </div>
      <div class="mt-20 pb-28 flex flex-col justify-center bg-gray-200">
        <PhasesSection phases={project.phases} />
      </div>
    </section>
  </main>
  <Advice />

  {
    newsletterData && (
      <div class="relative z-10 -mt-24 md:mb-10">
        <Newsletter {...newsletterData} />
      </div>
    )
  }
</Layout>
