---
import { type Project } from "@/types";
import { ArrowRight } from "lucide-react";
import { getLangFromUrl, getLocalizedPath } from "@/i18n/utils";
import Tag from "@/components/shared/tag.astro";
import { getImageUrl } from "@/lib/globalData";
interface Props {
  project: Project;
}

const { project } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const projectUrl = getLocalizedPath(`/projects/${project.slug}`, lang);

const imageData = Array.isArray(project.image)
  ? project.image[0]
  : project.image;

const imageUrl = imageData?.url
  ? getImageUrl(imageData.url)
  : "/placeholder.jpg";

const isImageRight = project.imagePosition === "right";
const borderRadiusClass = isImageRight
  ? "lg:rounded-l-3xl lg:rounded-r-none "
  : "lg:rounded-r-3xl lg:rounded-l-none";
---

<div
  class={`flex mt-30 flex-row items-center mx-6 pl-0 lg:pl-40 ${isImageRight ? "" : "lg:flex-row-reverse"}`}
>
  <div class="w-full lg:w-1/2 space-y-10">
    <div
      class={`bg-[#F3F5FB] rounded-3xl flex flex-col gap-6 lg:rounded-none p-6 md:pl-14 md:py-14 duration-300 ${borderRadiusClass}}  ${isImageRight ? "" : "lg:mr-45 lg:-ml-48 pl-10"} `}
    >
      <a href={projectUrl} class="block group">
        <h3 class="text-2xl md:text-[32px] font-bold dark-gray">
          {project.title}
        </h3>
      </a>

      {/* Tags */}
      <div class="flex flex-wrap gap-3">
        <Tag tags={project.tags || []} />
      </div>

      <div>
        <a
          aria-label={`Learn more about ${project.title}`}
          href={projectUrl}
          class="inline-flex items-center bg-primary-blue text-white font-bold px-6 py-3 rounded-xl transition-all duration-300 group"
        >
          {project.buttonText}
          <ArrowRight
            className="ml-2 size-5 transition-transform group-hover:translate-x-1 stroke-3"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="w-1/2 hidden lg:flex justify-center">
    <div>
      <img
        loading="lazy"
        src={imageUrl}
        alt={project.image?.alternativeText || project.title}
        class="w-2/3 object-center drop-shadow-xl transform scale-[1.7] hover:scale-[1.8] transition-transform duration-500"
      />
    </div>
  </div>
</div>
